#main {

}

#title {
    box-align: center;


}

.img {
    width: auto;
    height: auto;
    border: 1px solid black;
    vertical-align: middle;
    object-fit: cover;
    display: block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


#img-caption {
    box-align: center;
}

#tribute-info {
  text-align: center;


}

#tribute-link {
    color: blue;
    font-weight: bold;
    text-align: center;

}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}

#img-div {
  text-align: center;
}

#image {
  width: 100%;
  height: auto;
  max-width: 625px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}